<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= webpackConfig.metadata.title %></title>

  <meta name="description" content="<%= webpackConfig.metadata.title %>">
  <link rel="stylesheet" href="assets/uswds.min.css">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">

</head>

<body>

  <app>
    404
  </app>

  <% if (webpackConfig.metadata.isDevServer && webpackConfig.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


<script type="text/javascript" src="/site/presidential-innovation-fellows/code-gov-web/polyfills.43a6ec558ddffe5c3f45.bundle.js"></script><script type="text/javascript" src="/site/presidential-innovation-fellows/code-gov-web/vendor.141ad31d13feeeb2ba03.bundle.js"></script><script type="text/javascript" src="/site/presidential-innovation-fellows/code-gov-web/main.8add2c09ac1a9cc572f0.bundle.js"></script></body>
</html>
